/* Reseta o estilo padrão do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Roboto", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  }
  
  /* ---------- CÓDIGO CSS - BARRA DE ACESSIBILIDADE + DUVIDAS ---------- */
  
  .acess_b {
    display: flex;
    justify-content: space-evenly;
    background: rgb(2, 2, 2);
  }
  
  .acess_b>li {
    font-size: 0.9em;
    font-weight: 400;
    padding: 11px;
    list-style: none;
  }
  
  .acess_b>li>a {
    color: #ff0000;
    list-style: none;
    text-decoration: none;
  }
  
  
  /* ------- CÓDIGO CSS - BARRA DE NAVEGAÇÃO SUPERIOR: LOGOMARCA + LOGIN + CADASTRO ------- */
  
  .container_bar1 {
    margin: 0 auto;
    color: #ffffff;
    background-color: #333333;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px 20px;
  }
  
  .logo {
    color: #fff;
    font-size: 3em;
    text-decoration: none;
    font-weight: 900;
    text-shadow: 1px 1px 2px #5a5757;
    padding: 25px 15px 5px 50px;
    border-radius: 5px;
    background-color: #910404;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.4);
  }
  
  .logo a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  .nav-links {
    display: flex;
    gap: 15px;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    padding: 12px 40px;
    border-radius: 4px;
    background-color: #910404;
    transition: background-color 0.5s ease;
    box-shadow: 0px 3px 5px 0px #4e4d4d;
  }
  
  .nav-linka {
    font-size: 1.1em;
    color: #fff;
    text-shadow: 1px 1px 2px #5a5757;
    text-decoration: none;
    padding: 12px 40px;
    border-radius: 4px;
    background-color: #910404;
    transition: background-color 0.5s ease;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.4);
  }
  
  .nav-linkb {
    font-size: 1.1em;
    color: #fff;
    text-shadow: 1px 1px 2px #5a5757;
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 4px;
    background-color: #000000;
    transition: background-color 0.3s ease;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.4);
  }
  
  .nav-linka:hover {
    font-weight: 700;
    background-color: #ff0000;
  }
  
  .nav-linkb:hover {
    color: #000000;
    font-weight: 700;
    background-color: #ffffff;
  }
  
  
  /* --- CÓDIGO CSS (MEDIA QUERY) - BARRA DE NAVEGAÇÃO SUPERIOR: LOGOMARCA + LOGIN + CADASTRO ------- */
  
  @media (max-width: 800px) {
    .navbar {
      flex-direction: column;
      /*align-items: flex-start; */
      align-items: center;
    }
  
    .logo {
      font-size: 5em;
    }
  
    .nav-links {
      margin-top: 30px;
      flex-direction: column;
      width: 100%;
    }
  
    .nav-linka {
      font-size: 1.6em;
      padding: 10px;
      width: 100%;
      text-align: center;
      align-items: center;
    }
  
    .nav-linkb {
      font-size: 1.6em;
      padding: 10px;
      width: 100%;
      text-align: center;
      align-items: center;
    }
  
    .search-container input {
      font-size: 1.2em;
      color: #575757;
      width: 100%;
    }
  }
  
  
  /* --- CÓDIGO CSS - BARRA DE NAVEGAÇÃO INFERIOR: MENU DROPDOWN + LINKS + PESQUISAR --- */
  
  .container_bar2 {
    margin: 0 auto;
    text-decoration: none;
    color: #ffffff;
    background-color: #707070;
  }
  
  .nav_bar {
    max-width: 1500px;
    margin: 0 auto;
    padding: 3px 0px;
  }
  
  .menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .menu>li {
    position: relative;
  }
  
  .menu a {
    font-size: 1.2em;
    font-weight: 600;
    text-shadow: 1px 1px 2px #5a5757;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    border-radius: 6px 6px 0px 0px;
  }
  
  .menu a:hover {
    background-color: #910404;
  }
  
  /* ------- CÓDIGO CSS - MENU DROPDOWN ------- */
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #910404;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    display: block;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    text-shadow: 1px 1px 2px #5a5757;
    padding: 12px 16px;
  }
  
  .dropdown-content a:hover {
    background-color: #5a0202;
    border-radius: 0px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #575757;
  }
  
  /* ------- CÓDIGO CSS - BARRA DE PESQUISA ------- */
  
  .search-container {
    border-radius: 8px;
    padding: 8px;
    width: 100%;
    max-width: 500px;
  }
  
  .search-wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .search-input {
    width: 100%;
    padding: 10px 40px 10px 10px;
  
    /* Padding extra para o ícone da lupa */
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  .search-button {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    color: #575757;
    font-size: 28px;
    background-color: transparent;
  }
  
  .search-button:hover {
    color: #910404;
  }
  
  .search-button:focus {
    outline: none;
  }
  
  
  /* --- CÓDIGO CSS (MEDIA QUERY) - BARRA DE NAVEGAÇÃO INFERIOR: MENU DROPDOWN + LINKS + PESQUISAR --- */
  
  @media (max-width: 768px) {
    .menu {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .menu a {
      padding: 10px;
      display: block;
    }
  
    .search-container {
      margin-top: 10px;
    }
  }