/* ---------- ESTILOS GLOBAIS ---------- */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans";
    background-color: #c2bebe;
    height: 100%;
}



.buy-page {
    display: none;
    /* Inicialmente oculta */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
}

.buy-page.active {
    display: block;
}

.buy-page .close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #ff0000;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}



/* ---------- CÓDIGO CSS - PÁGINA DE COMPRA ---------- */

.container {
    padding: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1000px;
    min-height: 800px;
    margin: 25px auto;
    background: #ffffff;
    border-top: 8px solid #910404;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}

.product-gallery {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.product-images {
    flex: 1;
    max-width: 800px;
    border-radius: 5px;
    padding: 20px;
    background-color: #00eeff2d;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.container-image {
    width: 100%;
    padding: 16px;
    border-radius: 5px;
}

.thumbnail-images-geral {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 5px;
    transition: transform 0.2s;
    filter: drop-shadow(0px 10px 5px #000000);
}

.thumbnail-images-geral img:hover {
    transform: scale(1.5);
}

.thumbnail-images {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    padding: 10px;
}

.thumbnail-images img {
    max-width: 80px;
    cursor: pointer;
    border: 1.8px solid #910404;
    padding: 0.5rem;
    border-radius: 5px;
    transition: transform 0.3s;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.thumbnail-images img:hover {
    transform: scale(1.25);
    border: 1.5px solid #ff0000;
}

.product-info {
    flex: 1;
    max-width: 600px;
}

.product-info h1 {
    color: #000000;
    font-size: 1.1em;
    text-shadow: 1px 1px #c5c5c5;
}

.product-info h2 {
    color: #000000;
    font-size: 1em;
    text-shadow: 1px 1px #c5c5c5;
}

.product-info h3 {
    color: #000000;
    font-size: 1em;
    text-shadow: 1px 1px #c5c5c5;
}

.product-info .codigo {
    color: #000000;
    font-size: .9em;
    font-weight: bold;
    margin-top: 1rem;
    text-shadow: 1px 1px #c5c5c5;
}

.product-info .valorTotal {
    color: #000000;
    font-size: 1em;
    font-weight: bold;
    margin-top: 1rem;
    text-shadow: 1px 1px #c5c5c5;
}

.product-info .valorDesconto {
    color: #000000;
    font-size: 1.35em;
    font-weight: bold;
    text-shadow: 1px 1px #c5c5c5;
}

.product-info .valorDescontoA {
    color: #ff0000;
    font-size: 0.9em;
    font-weight: bold;
    text-shadow: 1px 1px #c5c5c5;
}

.product-info .valorParcelado {
    color: #000000;
    font-size: .9em;
    margin: none;
    text-shadow: 1px 1px #c5c5c5;
}

.product-info label {
    display: block;
    margin-top: 18px;
    font-size: .9em;
    font-weight: bold;
    color: #000000;
    text-shadow: 1px 1px #c5c5c5;
}

.product-info select {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.3rem;
    border: 1.8px solid #9b9b9b;
    border-radius: 5px;
    font-size: .9em;
    color: #000000;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.product-info input {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.3rem;
    border: 1.8px solid #9b9b9b;
    border-radius: 5px;
    font-size: .9em;
    color: #000000;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.product-info .actions {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}


/* CÓDIGO CSS - BOTÕES DE FINALIZAR COMPRA E SALVAR CARRINHO  */

.product-info button {
    width: 180px;
    padding: 8px;
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
    transition: background-color 0.2s;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

#buy-now {
    background-color: #910404;
}

#buy-now:hover {
    background-color: #ff0000;
    font-weight: bold;
}

#save-cart {
    background-color: #0e4279;
}

#save-cart:hover {
    background-color: #0095ff;
    font-weight: bold;
}


/* CÓDIGO CSS - INFORMAÇÕES DO PRODUTO  */

.product-info-details {
    background-color: #d1d1d154;
    border-radius: 5px;
    padding: 20px;
    max-width: 1000px;
    margin-top: 20px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.product-info-details h1 {
    padding-bottom: 15px;
    font-size: 1em;
    color: #000000;
    text-shadow: 1px 1px #c5c5c5;
}

.product-info-details p {
    font-size: .8em;
    color: #000000;
    text-shadow: 1px 1px #c5c5c5;
    text-align: justify;
}


/* ---------- MEDIA QUERIES ---------- */

@media (max-width: 768px) {
    .product-gallery {
        flex-direction: column;
        align-items: center;
    }

    .product-images {
        max-width: 100%;
    }

    #main-image {
        width: 100%;
    }

    .thumbnail-images {
        justify-content: center;
    }

    .thumbnail-images img {
        max-width: 60px;
    }

    .product-info {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 1rem;
    }

    .product-info {
        padding: 1rem;
    }

    .product-info select,
    .product-info button {
        width: 100%;
    }

    .product-info button {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .thumbnail-images img {
        max-width: 50px;
    }
}




/* ---------- CÓDIGO CSS - COPYRIGHT ---------- */

.copyright {
    background-color: #000000;
    padding: 40px 0;
}

.copyright h4 {
    font-size: 0.9em;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 2px #5a5757;
}

/* ---------- CÓDIGO CSS - DESENVOLVEDOR ---------- */

.footerdev {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 8px;
    text-align: center;
}

.footerdev p {
    font-size: .9em;
    font-weight: 400;
    color: #b8b8b8;
    text-decoration: none;
}

.footerdev a {
    font-size: .9em;
    font-weight: 400;
    color: #d6a400;
    text-decoration: none;
}

.footerdev a:hover {
    text-decoration: none;
}

@media (max-width: 768px) {
    footerdev {
        padding: 15px;
    }

    footerdev p {
        font-size: 14px;
    }
}