<div class="login-container">
  <div class="social-login fb">
    <a href="https://www.facebook.com/" target="_blank" class="fb-inside">
      <img
        src="../assets/login/icons/icons8-facebook.png"
        alt="Facebook"
        class="icon-login"
      />
      Continuar com o Facebook
    </a>
  </div>
  <div class="social-login google">
    <a href="https://accounts.google.com" target="_blank" class="google-inside">
      <img
        src="../assets/login/icons/icons8-google-logo.png"
        alt="Google"
        class="icon-login"
      />
      Continuar com o Google
    </a>
  </div>
  <div class="enfeite-login"></div>
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1" class="input-color">Email</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Digite seu email"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1" class="input-color">Senha</label>
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Digite sua senha"
      />
    </div>
    <button type="submit" class="btn btn-primary btn-login">Acessar</button>
    <div class="login-base">
      <a href="http://localhost:3000/register" class="link">Primeiro Acesso</a>
      <a href="http://localhost:3000/update/4" class="link">Esqueci minha senha</a>
    </div>
  </form>
</div>