
.container_barrainfo {
    max-width: 1460px;
    margin: 0 auto;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #910404;
    padding: 50px 14px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.container_barrainfo h1 {
    text-align: center;
    font-weight: 600;
    font-size: 3em;
    color: #ffffff;
    text-shadow: 1px 1px 2px #5a5757;
}

.container_barrainfo p {
    font-size: 1.3em;
    font-weight: 600;
    color: #ebc90c;
    text-shadow: 1px 1px 2px #5a5757;
}