


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos gerais para a seção footer_frete */
.footer_frete {
  display: flex;
  justify-content: space-around;
  padding: 60px;
  background-color: #910404;
}

.footer_frete_row {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 30%;
}

.footer_frete_row img {
  max-width: 120px;
  margin-bottom: 18px;
  text-shadow: 1px 1px 2px #5a5757;
}

.footer_frete_row h4 {
  color: #ffffff;
  margin: 5px 0;
  font-size: 1.3em;
  text-shadow: 1px 1px 2px #5a5757;
}

.footer_frete_row h5 {
  color: #ffffff;
  margin: 5px 0;
  font-size: 1.1em;
  text-shadow: 1px 1px 2px #5a5757;
}

/* Media query para telas menores */
@media (max-width: 800px) {
  .footer_frete {
    flex-direction: column;
    align-items: center;
  }

  .footer_frete_row {
    width: 50%;
    margin: 30px;
  }

  .footer_frete_row img {
    max-width: 55px;
  }

  .footer_frete_row h4 {
    font-size: 1.3em;
  }

  .footer_frete_row h5 {
    font-size: 1em;
  }
}