/* styles.css */

/*Reseta o estilo padrão do navegador*/

.container-login {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    list-style: none;
    font-family: "Roboto", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans";
    background-color: #c2bebe;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 68.2vh;
}

.form-container {
    padding: 20px;
    width: 420px;
    height: 440px;
    border-top: 8px solid #ffffff;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
}

/*
.linha-vertical {
    height: 380px;
    border-left: 1.3px solid #a8a7a7;
    box-shadow: 0px 2px 2px rgba(143, 143, 143, 0.4);
}
*/

.login-container {
    border-radius: 5px 5px 5px 5px;
    background-color: #910404;
}

h2 {
    font-size: 1.4em;
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px #5a5757;
}

.esqueceuSenha {
    text-align: center;
    margin-bottom: 10px;
    padding-top: 10px;
}

.esqueceuSenha a {
    font-size: .9em;
    color: #ffffff;
    text-decoration: none;
}

.container p {
    font-size: .9em;
    color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
    text-shadow: 1px 1px 2px #5a5757;
}

label {
    font-size: .9em;
    color: #ffffff;
    display: block;
    margin: 10px 0 5px;
    text-shadow: 1px 1px 2px #5a5757;
}

input {
    font-size: .8em;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
}

button {
    font-size: 0.9em;
    font-weight: 700;
    width: 100%;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
    text-shadow: 1px 1px 2px #5a5757;
}

.btn-entrar {
    font-size: 1.1em;
}

button:hover {
    font-weight: 700;
    background-color: #003772;
    text-shadow: 1px 1px 2px #5a5757;
}

.social-buttons {
    display: flex;
    justify-content: space-around;
    text-shadow: 1px 1px 2px #5a5757;
}

.social-buttonFacebook {
    flex: 1;
    background-color: #3b5998;
    margin-right: 5px;
    border: none;
    color: #ffffff;
    border-radius: 4px;
    text-shadow: 1px 1px 2px #5a5757;
    cursor: pointer;
}

.social-buttonGoogle {
    flex: 1;
    background-color: #db4437;
    margin-left: 5px;
    border: none;
    color: #ffffff;
    border-radius: 4px;
    text-shadow: 1px 1px 2px #5a5757;
    cursor: pointer;
}

.social-buttonFacebook:hover {
    background-color: #112757;
}

.social-buttonGoogle:hover {
    background-color: #c71303;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .linha-vertical {
        height: 100%;
        border-left: 1.5px solid #707070af;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
    }

    .form-container {
        width: 90%;
        margin: 10px 0;
    }
}

/* ---------- CÓDIGO CSS - COPYRIGHT ---------- */

.copyright {
    font-size: 0.9em;
    background-color: #000000;
    padding: 40px 0;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 2px #5a5757;
}

/* ---------- CÓDIGO CSS - DESENVOLVEDOR ---------- */

.footerdev {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 8px;
    text-align: center;
}

.footerdev p {
    font-size: .9em;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
}

.footerdev a {
    font-size: .9em;
    font-weight: 400;
    color: #d6a400;
    text-decoration: none;
}

footerdev a:hover {
    text-decoration: none;
}

@media (max-width: 768px) {
    footerdev {
        padding: 15px;
    }

    footerdev p {
        font-size: 14px;
    }
}